header {
  background-color: #FF7800;
  vertical-align: baseline;
}

header img {
  height: 50px;
  margin-left: 20px;
}

header span {
  color: white;
  font-weight: bold;
}

.submit-btn {
  background-color: #6E2584;
  border: none;
}

.form-group {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.form-group select {
  width: 35%;
}

.col-lg-2 {
  padding: 0;
}

.col-lg-4 {
  padding: 0;
}