/* tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
}

.home_container{
  height:100%;
  width:50%;
  display:flex;
  flex-direction: column;
  background-color: rebeccapurple;
  justify-content: center;
}
 
.form-container{
  height:100%;
  width:50%;
}

header{
  width:100%;
  height:10%;
}

header{
  display:flex;
  margin: 10%;
  justify-content: center;
  align-items: center;
  color:white;
  font-weight:bold;
}

.logo_container{
  height:100%;
  width:50%;
}
.logo_container img{
 height:100%;
 width:100%;
 object-fit:cover;
}
.logo-name{
  height:100%;
  width:60%;
}
.info-container{
  width:100%;
  height:90%;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 1%;
  padding:1%;
}

.info-container h2{
  color: white;
  font-weight:bold;
}



.contact-container{
  width:100%;
  height:10%;
}